@import "tailwindcss";
@source "../index.html";
@theme {
  --color-primary: #F5F5F3;
  --color-badge:#EEEDFE;
  --color-text-badge:#3C3489;
  --color-aaa:#aaa;
  --color-bitcoin:#22c55e;
  --color-Ethereum:#a855f7;
  --color-Euro:#3b82f6;
  --color-Solana:#f59e0b;
  --color-666:#666;
  --color-border:#e0e0de;
  --color-background:#fafaf8;
  --color-btn:#534AB7;
  --color-borderb:#f0f0ee;
  --color-tablehead:#fafaf8;
  --color-headtext:#bbb;
  --color-bt:#E1F5EE;
  --color-bttext:#0F6E56;
  --color-bbb:#bbb;
  --color-secndb:#EEEDFE;
  --color-secndt:#3C3489;
  --color-tb:#E6F1FB;
  --color-tt:#0C447C;
  --color-bf:#FAEEDA;
  --color-tf:#633806;
  

}
